In [2]:
import pandas as pd
import numpy as np

In [3]:
data = pd.read_csv('dataset/data.csv', encoding='ISO-8859-1', delimiter=';')

In [4]:
data.head()

  InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0  536365,85123A,WHITE HANGING HEART T-LIGHT HOLD...
1  536365,71053,WHITE METAL LANTERN,6,12/1/2010 8...
2  536365,84406B,CREAM CUPID HEARTS COAT HANGER,8...
3  536365,84029G,KNITTED UNION FLAG HOT WATER BOT...
4  536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6...