In [6]:
import pandas as pd
import numpy as np
from datetime import datetime, timedelta,date

In [2]:
data = pd.read_csv('dataset/data.csv', encoding='ISO-8859-1', delimiter=',')

In [3]:
data.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom

In [4]:
data['InvoiceDate'] = pd.to_datetime(data['InvoiceDate'])

In [5]:
data['InvoiceDate'].describe()

count                  541909
unique                  23260
top       2011-10-31 14:41:00
freq                     1114
first     2010-12-01 08:26:00
last      2011-12-09 12:50:00
Name: InvoiceDate, dtype: object

### Separação das bases para predição do proximo dia de compra

Teremos dois dataframes, o dataframe histórico contendo as vendas anteriores a 01/09/2011 e o dataframe que representa o futuro, contendo as vendas posteriores a 01/09/2011

In [8]:
data_hist = data[(data.InvoiceDate < date(2011,9,1))].reset_index(drop=True)
data_next = data[(data.InvoiceDate >= date(2011,9,1))].reset_index(drop=True)

C:\Users\aleff.neves.ACOCEARENSE\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Comparing Series of datetimes with 'datetime.date'.  Currently, the
'datetime.date' is coerced to a datetime. In the future pandas will
not coerce, and a TypeError will be raised. To retain the current
behavior, convert the 'datetime.date' to a datetime with
'pd.Timestamp'.
  """Entry point for launching an IPython kernel.
C:\Users\aleff.neves.ACOCEARENSE\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: Comparing Series of datetimes with 'datetime.date'.  Currently, the
'datetime.date' is coerced to a datetime. In the future pandas will
not coerce, and a TypeError will be raised. To retain the current
behavior, convert the 'datetime.date' to a datetime with
'pd.Timestamp'.

In [11]:
data_hist['InvoiceDate'].describe()

count                  320705
unique                  14877
top       2011-06-29 15:58:00
freq                      705
first     2010-12-01 08:26:00
last      2011-08-31 17:45:00
Name: InvoiceDate, dtype: object

In [12]:
data_next['InvoiceDate'].describe()

count                  221204
unique                   8383
top       2011-10-31 14:41:00
freq                     1114
first     2011-09-01 08:25:00
last      2011-12-09 12:50:00
Name: InvoiceDate, dtype: object

In [16]:
data_clientes = pd.DataFrame(data_hist['CustomerID'].unique())
data_clientes.columns = ['CustomerID']

In [17]:
data_clientes.head()

   CustomerID
0     17850.0
1     13047.0
2     12583.0
3     13748.0
4     15100.0